@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@keyframes primaryAnimiation{
    from {opacity: 0.0; transform: translate(0%, 5%);}
    to {opacity: 1.0; transform: translate(0%, 0%);}
}

html{
  overflow: scroll;
}

html, body { 
    height : 95%;
    max-width: 1000px;
    margin:auto;
    padding: 1%;
    animation-name: primaryAnimiation;
    animation-duration: 2s;
}

h1, h2, h3, p {
    font-family: 'Noto Serif', serif;
    color: rgb(25, 25, 25);
}

b {
    color: rgb(0, 0, 0);
}
.center {
    margin: auto;
    width: 80%;
    padding: 1%;
    animation-duration: 5s;
}

a {
    color: rgb(25, 25, 25);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.inline_element{
    display: inline;
}

.maxWidth {
    width: 100%;
}

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.rainbow-text {
  background-image: repeating-linear-gradient(to left, #FE00BF, #FF00F9, #0500FF, #00ECFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}